/ {
  mideej_midi: usb_midi {
    compatible = "zephyr,midi2-device";
    status = "okay";
    #address-cells = <1>;
    #size-cells = <1>;
    label = "Amperture Enginerding Midi Fader Board";
    midi_in_out@0{
      reg = <0 1>;
      protocol = "midi1-up-to-128b";
      label = "MIDI-IN-OUT";
    };
  };
};

// Add custom pins to "pinctrl" node
&pinctrl {
  //i2c bus 0 config
  i2c0_custom_pins: i2c0_custom_pins{
    group1 {
      pinmux = <I2C0_SDA_GPIO2>, <I2C0_SCL_GPIO1>;
      bias-pull-up;
      drive-open-drain;
      output-high;
    };
  };
};

&i2c0 {
    status = "okay";
    generic_i2c_dev: generic_dev@48 {
        compatible = "vnd,generic-i2c-device";
        reg = <0x48>;
    };
    clock-frequency = <I2C_BITRATE_STANDARD>;
    pinctrl-0 = <&i2c0_custom_pins>;
    pinctrl-names = "default";
};
